.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
  border: 5px solid red;
}



.btn, .count {
  background-color: white;
  outline: none;
  border: 2px solid red;
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
}